.top-bar {
	height: 40px;
	background: #f3f3f3;
	color: balck;
	top: 0;
	/*position: fixed;*/
	z-index: 10000;
	width: 100%;
	left: 0;
	min-width: 1200px;
	font-size: 0px;
}

.menu {
	width: 100%;
	height: 50px;
	/*设置元素水平居中*/
	margin: 0 auto 0;
	/*去除内联元素间隙*/
	font-size: 40px;
	/*去掉ul自带的.格式*/
	list-style: none;
	padding: 0;
}

.menu li {
	/*将元素转换为行内块元素一个格子*/
	display: inline-block;
	width: 40px;
	height: 38px;
	border: 1px #333;
	/*每个框框边界是黑色的*/
	/*将边框合并*/
	margin-right: -1px;
	text-align: center;
}

.menu a {
	font-size: 15px;
	font-family: "Microsoft YaHei UI";
	color: #919191;
	/*去掉a元素的下划线*/
	text-decoration: none;
}


/*鼠标位于元素位置时改变元素样式*/

.menu li:hover {
	background-color: black;
}

.menu a:hover {
	color: blue;
}


.left {
	float: left;
}

.right {
	float: right;
}


.two {
	height: 30px;
	background-color: white;
	min-width: 1200px;
}

.three {

	margin-left: 63.5px;
	width: 1200px;
	height: 42px;
	background-color: white;
}


.three-1 {
	display: inline-block;
	width: 160px;
}

.three-2 {

	display: inline-block;
	background-color: white;
	margin-left: 250px;
	width: 651px;
	height: 42px;
}



/* .three-2-1{
		position: relative;
    display: inline-block;
		width:82px;
		height: 42px;
} */


/* 容器 <div> - 需要定位下拉内容 */

.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
	background-color: #f6a200;
	color: black;
	text-align: center;
	font-size: 14px;
	border: 0.5px solid #f6a200;
	cursor: pointer;
	width: 82px;
	height: 42px;
}



/* 下拉内容 (默认隐藏) */

.dropdown-content {
	display: none;
	position: absolute;
	background-color: pink;
	width: 82px;
	color: black;
	text-align: center;
	font-size: 14px;

	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}


/* 下拉菜单的链接 */

.dropdown-content a {
	color: black;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	display: block;
	height: 42px;
}


/* 鼠标移上去后修改下拉菜单链接颜色 */

.dropdown-content a:hover {
	background-color: yellow
}


/* 在鼠标移上去后显示下拉菜单 */

.dropdown:hover .dropdown-content {
	display: block;
}


/* 当下拉内容显示后修改下拉按钮的背景颜色 */

.dropdown:hover .dropbtn {
	background-color: pink;
}


.cp_search_inp {
	width: 509px;
	height: 38.5px;
	border: none;
	color: black;
	text-align: center;
	border: 0.5px solid #f6a200;
}

.four {
	height: 30px;
	background-color: white;
	min-width: 1200px;
}

.five {
	height: 44px;
	line-height: 44px;
	background-color: #f6a200;
	min-width: 1200px;
}

.five-1 {
	width: 1200px;
	margin: 0 auto;
	height: 42px;
	position: relative;
	background-color: #f6a200;
	color: #919191;
	font-size: 16px;
	text-align: center;
	text-decoration: none !important
}

.five-1-1 {
	width: 680px;
	height: 42px;
	display: inline-block;
	background-color: black;
	float: left;
}

.five-1-1-1 {
	margin: 0;
	padding: 0;
	background-color: #f6a200;
	list-style: none;
}


.five-1-1-1 li {
	/*将元素转换为行内块元素一个格子*/
	display: inline-block;
	width: 80px;
	height: 42px;
	border: 1px;
	/*每个框框边界是黑色的*/
	/*将边框合并*/
	margin-right: 6px;
	margin-left: 6px;
	text-align: center;
}

.five-1-1-1 a {
	font-size: 16px;
	font-family: "Microsoft YaHei UI";
	color: #fff;
	/*去掉a元素的下划线*/
	text-decoration: none;
}


/*鼠标位于元素位置时改变元素样式*/

.five-1-1-1 li:hover {
	background-color: black;
}

.five-1-1-1 a:hover {
	color: blue;
}


.five-1-2 {
	width: 80px;
	height: 42px;
	background-color: #f6a200;
	display: inline-block;
	float: right;
	text-decoration: none;
}


.five-1-2 a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	text-align: center;
}

.five-1-2 a:hover {
	color: blue;
}

.six{
	 min-width: 1200px;
}

	.six img{
		width: 100%;
		height: 370px;
}


.seven{
		width: 100%;
    height: 110px;
		background-color: white;
		display: inline-block;
}

	.seven-1{
		width: 1200px;
		height: 60px;
		background-color: white;
	  margin: 25px 25px 50px 50px;
		display: inline-block;

}

.seven-1-1{
	   width: 362px;
		 height: 60px;
		 margin: 0;
		 padding: 0;
		 background-color: white;
		 display: inline-block;
}


.seven-1-1-1{
	width:  128px;
	height: 60px;
	display: inline-block;
	background-repeat: no-repeat;
	margin:0 atuo;
	overflow-x: hidden;
}

.seven-1-1-1-size{
	font-size: 24px;
font-weight: normal;
line-height: 60px;
position: relative;
padding: 0 16px;
}

.seven-1-1-2{
		width:  220px;
		height: 20px;
		background-color: red;
		display: inline-block;
		margin-left: 1px;
		margin-top:0px;
  
}

.seven-1-2{
	  width: 193.1px;
	  height: 60px;
	  background-color: white;
	  display: inline-block;
		float: right;
}
.seven-1-2-1 {
	margin: 0;
	padding: 0;
	background-color:white;
	list-style: none;
}


.seven-1-2-1 li {
	/*将元素转换为行内块元素一个格子*/
	display: inline-block;
	width: 60.8px;
	height: 26px;
	border: 1px;
	/*每个框框边界是黑色的*/
	/*将边框合并*/
	margin-right: 0px;
	margin-left: 0px;
	text-align: center;
}

.seven-1-2-1 a {
	font-size: 16px;
 text-align: center;
	font-family: "Microsoft YaHei UI";
	color: #fff;
	/*去掉a元素的下划线*/
	text-decoration: none;
	color: black;
}


/*鼠标位于元素位置时改变元素样式*/

.seven-1-2-1 li:hover {
	background-color:#f6a200;
}

.seven-1-2-1 a:hover {
	color: blue;
}


	.eight{
		min-width: 1300px;
		width:100%;
		height: 500px;
		background-color: white;
		display: inline-block;
}


	.eight-1{
		display: inline-block;
		margin-left:40px;
}

.eight-2{
		display: inline-block;
		width: 284px;
		height: 83.5px;
		margin-top: 5px;
		background-color:white;
		margin-left: 40px;
		margin-top: -4px;
		display: inline-block;

	
}

.eight-2-1{
  text-align: left;
	font-size: 17.5px;
}

.eight-2-1-1{
	margin-left: 10px;
	background-color: white;
}
.eight-2-2{
	line-height: 30px;
	margin-left: 10px;
	width: 264px;
	height: 33.5px;
	background-color:white;
	

}

.eight-2-2-1{
	width: 100px;
	height: 33.5px;
	background-color:white;
	line-height: 30px;

}

.eight-2-2-2{
	width: 60px;
	height: 30px;
	background-color:white;
	color: #919191;
	font-size: 14px;

}
	.color{
		color: #f6a200 !important;
}


	.nine{
		min-width: 1300px;
		width: 100%;
		height: 110.5px;
		background-color: #f3f3f3;;
		display: inline-block;
}

.nine-1{
	 width: 1200px;
	 height: 60.5px;
   margin: 25px 25px 66px 66px;
	 background-color:#f3f3f3;;
	 display: inline-block;
}

.nine-1-1{
	width: 75px;
	height: 30px;
	background-color: #f3f3f3;;
  margin-left: 220px;
	margin-top: 0px;
	color: #2d2d2d;
  font-size: 12px;
  font-family: "microsoft yahei";
  display: block;
	padding-top: 5px;
	
}

.nine-1-1 a{
	text-decoration: none !important; 
}
.nine-1-2{
	width: 320px;
	height: 30px;
	background-color:#f3f3f3;;
	margin-left: 220px;
	margin-top: -6px;
	color: #2d2d2d;
	font-size: 12px;
	font-family:"microsoft yahei";
	display: inline-block;
	padding-top: 5px;
	
}
.ten{
	min-width: 1300px;
	width: 100%;
	height: 50px;
	display: inline-block;
	background-color: #dddddd;;
	text-align: center;
	line-height: 30px;
  font-size: 14px;
  color: #adadad;
}